@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#__next {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}